<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <img src="../../assets/images/Logo.jpg" width="150" height="300" />
        <ion-card-header>
          <ion-card-subtitle>All In</ion-card-subtitle>
          <ion-card-title >Cervejaria All In</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Criada em 1980, esta cervejaria tem como foco sempre trazer a melhor cerveja artesanal.
        </ion-card-content>
      </ion-card>

      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="danger" (click)="abreCadastro()">
        <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
</ion-content>
